html {
  height: 100%;
  width: 100%;
}

.carousel-inner img{
  height:1000px
}
.cardimage{
  height:200px!important ;
}
.cardimage2{
  height:200px!important ;
}
.cardimage3{
  height:200px!important ;
}
.card img{
  height:200px!important
}